# Dependencies
node_modules/

# Environment variables
api/.env
frontend/.env
.env

# Logs
*.log
npm-debug.log*

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/